﻿@{
    string currentController = ViewBag.CurrentController as string ?? "";
    string currentAction = ViewBag.CurrentAction as string ?? "";
    Console.WriteLine(currentController);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/admin/css/styles.css" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Boulevard Residence Admin Panel</title>
</head>
<body id="body-pd" class="body-pd">
    <header class="header body-pd" id="header">
        <div class="header_toggle">
            <i class="bx bx-menu bx-x" id="header-toggle"></i>
        </div>
    </header>
    <div class="l-navbar show" id="nav-bar">
        <nav class="nav">
            <div>
                @*<a href="#" class="nav_logo">
                <img src="/admin/img/logo-pandora.png" alt="">
                </a>*@
                @*<h3>BOULEVARD RESIDENCE</h3>*@
                <div class="nav_list">
                    <a class="nav-link colorblack @(currentController == "Dashboard" && currentAction == "Index" ? "active" : "")" asp-action="Index" asp-controller="Dashboard">
                        <i class="bx bx-grid-alt nav_icon"></i>
                        <span class="nav_name">Dashboard</span>
                    </a>

                    <div class="accordion accordion-flush" id="accordionFlushExample">
                       <div class="accordion-item">
                           <h2 class="accordion-header" id="flush-headingOne">
                               <button style="    padding: 0.8rem 0.5rem 0.8rem 2rem !important;" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                               <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="change_active_fill" fill="#8F9297">
                                <g clip-path="url(#clip0_1_23)">
                                    <path d="M12.154 8.90695C10.8019 8.90695 9.70581 10.003 9.70581 11.3551C9.70581 12.7071 10.8019 13.8032 12.154 13.8032C13.506 13.8032 14.6021 12.7072 14.6021 11.3551C14.6021 10.003 13.506 8.90695 12.154 8.90695ZM12.154 12.6374C11.4457 12.6374 10.8716 12.0633 10.8716 11.355C10.8716 10.6468 11.4457 10.0727 12.154 10.0727C12.8622 10.0727 13.4363 10.6468 13.4363 11.355C13.4363 12.0633 12.8622 12.6374 12.154 12.6374Z" />
                                    <path d="M21.9174 3.31119L6.00455 1.50428C5.38697 1.41648 4.76124 1.59677 4.28506 1.99976C3.80895 2.36894 3.50375 2.91618 3.43988 3.51525L3.14846 5.90509H2.24493C0.962561 5.90509 0.000787611 7.04169 0.000787611 8.32406V20.2441C-0.0315114 21.4669 0.93361 22.4845 2.15651 22.5168C2.18596 22.5175 2.21547 22.5177 2.24493 22.5173H18.2451C19.5275 22.5173 20.6933 21.5264 20.6933 20.2441V19.7778C21.0909 19.701 21.468 19.5421 21.8008 19.3115C22.273 18.9139 22.5753 18.3509 22.646 17.7377L23.9866 5.90509C24.1233 4.61977 23.2009 3.46353 21.9174 3.31119ZM19.5275 20.2441C19.5275 20.8852 18.8863 21.3515 18.2451 21.3515H2.24493C1.66572 21.3686 1.18241 20.9128 1.16539 20.3336C1.1645 20.3038 1.16489 20.2739 1.16656 20.2441V18.0874L5.68396 14.7649C6.22663 14.3483 6.99098 14.3853 7.49092 14.8524L10.6677 17.6502C11.1501 18.0553 11.7573 18.2817 12.3872 18.2914C12.8797 18.2974 13.364 18.1663 13.7862 17.9125L19.5276 14.5901V20.2441H19.5275ZM19.5275 13.2203L13.174 16.9216C12.6285 17.2448 11.9379 17.1863 11.4545 16.7759L8.24864 13.9489C7.32982 13.1594 5.98687 13.111 5.0136 13.8323L1.16656 16.6301V8.32406C1.16656 7.68288 1.60374 7.07087 2.24493 7.07087H18.2451C18.9302 7.09926 19.4834 7.63992 19.5275 8.32406V13.2203ZM22.822 5.74773C22.8216 5.75158 22.8212 5.75548 22.8208 5.75933L21.451 17.5919C21.4534 17.8987 21.3134 18.1893 21.0721 18.3788C20.9555 18.4954 20.6932 18.5537 20.6932 18.612V8.32406C20.6472 6.99634 19.5733 5.93516 18.2451 5.90509H4.31418L4.57648 3.63183C4.63338 3.33746 4.78729 3.0707 5.01366 2.87406C5.26926 2.69734 5.57831 2.61495 5.88802 2.64089L21.7717 4.47696C22.4126 4.53782 22.8828 5.10677 22.822 5.74773Z" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_1_23">
                                        <rect width="24" height="24" />
                                        <rect width="24" height="24" />
                                    </clipPath>
                                </defs>
                            </svg>
                            <span class="nav_name-dropdown" >Gallery</span>
                         </button>
                         </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body" style="padding:0 !important;">
                          <a class="nav-link colorblack @(currentController == "GalleryItem" && currentAction == "Index" ? "active" : "")" asp-action="Index" asp-controller="GalleryItem">
                                <span class="nav_name" style="margin-left:0px !important;">Gallery Item</span>
                            </a>
                           <a class="nav-link colorblack @(currentController == "GalleryCategory" && currentAction == "Index" ? "active" : "")" asp-action="Index" asp-controller="GalleryCategory">
                                <span class="nav_name" style="margin-left:0px !important;">Gallery Category</span>
                            </a>
                      </div>
                         </div>
                               </div>
                        </div>

                     <div class="accordion" id="accordionExample">

                     <div class="accordion-item">
                         <h2 class="accordion-header" id="headingThree">
                          <button class="accordion-button collapsed" style="padding: 0.8rem 0.5rem 0.8rem 2rem !important;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                           <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="change_active_fill" fill="#8F9297">
                            <g clip-path="url(#clip0_1_129)" class="gray-active">
                                <path d="M22.4062 3.49219H21.3906C21.1827 2.8537 20.5822 2.39062 19.875 2.39062H4.125C3.41785 2.39062 2.81726 2.8537 2.60944 3.49219H1.59375C0.715027 3.49219 0 4.20721 0 5.08594V13.7578C0 14.6365 0.715027 15.3516 1.59375 15.3516H2.60944C2.81726 15.9901 3.41785 16.4531 4.125 16.4531H9.81244C10.0714 16.4531 10.2812 16.2433 10.2812 15.9844C10.2812 15.7255 10.0714 15.5156 9.81244 15.5156H4.125C3.76318 15.5156 3.46875 15.2212 3.46875 14.8594V3.98438C3.46875 3.62256 3.76318 3.32812 4.125 3.32812H19.875C20.2368 3.32812 20.5312 3.62256 20.5312 3.98438V14.8594C20.5312 15.2212 20.2368 15.5156 19.875 15.5156H14.2344C13.9755 15.5156 13.7657 15.7255 13.7657 15.9844C13.7657 16.2433 13.9755 16.4531 14.2344 16.4531H19.875C20.5822 16.4531 21.1827 15.9901 21.3906 15.3516H22.4062C23.285 15.3516 24 14.6365 24 13.7578V5.08594C24 4.20721 23.285 3.49219 22.4062 3.49219ZM0.9375 13.7578V5.08594C0.9375 4.72412 1.23193 4.42969 1.59375 4.42969H2.53125V14.4141H1.59375C1.23193 14.4141 0.9375 14.1196 0.9375 13.7578ZM23.0625 13.7578C23.0625 14.1196 22.7681 14.4141 22.4062 14.4141H21.4688V4.42969H22.4062C22.7681 4.42969 23.0625 4.72412 23.0625 5.08594V13.7578Z" />
                                <path d="M17.9762 10.7642C18.0677 10.8558 18.1877 10.9014 18.3076 10.9014C18.4276 10.9014 18.5475 10.8558 18.639 10.7642L19.6439 9.75934C19.827 9.57623 19.827 9.27942 19.6439 9.09631L18.639 8.09143C18.4559 7.90851 18.1593 7.90851 17.9762 8.09143C17.7931 8.27454 17.7931 8.57135 17.9762 8.75446L18.6495 9.42773L17.9762 10.1012C17.7931 10.2843 17.7931 10.5811 17.9762 10.7642Z" />
                                <path d="M6.0238 8.09143C5.8407 7.90851 5.54407 7.90851 5.36078 8.09143L4.35608 9.09631C4.17297 9.27942 4.17297 9.57623 4.35608 9.75934L5.36078 10.7642C5.45233 10.8558 5.57245 10.9016 5.69238 10.9016C5.81232 10.9016 5.93225 10.8558 6.0238 10.7642C6.20673 10.5811 6.20673 10.2843 6.0238 10.1012L5.35034 9.42792L6.0238 8.75446C6.20691 8.57135 6.20691 8.27454 6.0238 8.09143Z" />
                                <path d="M6.15839 18.2344C5.22784 18.2344 4.47089 18.9913 4.47089 19.9219C4.47089 20.8524 5.22784 21.6094 6.15839 21.6094C7.08893 21.6094 7.84589 20.8524 7.84589 19.9219C7.84589 18.9913 7.08893 18.2344 6.15839 18.2344ZM6.15839 20.6719C5.74493 20.6719 5.40839 20.3353 5.40839 19.9219C5.40839 19.5084 5.74493 19.1719 6.15839 19.1719C6.57202 19.1719 6.90839 19.5084 6.90839 19.9219C6.90839 20.3353 6.57202 20.6719 6.15839 20.6719Z" />
                                <path d="M12 18.2344C11.0695 18.2344 10.3125 18.9913 10.3125 19.9219C10.3125 20.8524 11.0695 21.6094 12 21.6094C12.9305 21.6094 13.6875 20.8524 13.6875 19.9219C13.6875 18.9913 12.9305 18.2344 12 18.2344ZM12 20.6719C11.5865 20.6719 11.25 20.3353 11.25 19.9219C11.25 19.5084 11.5865 19.1719 12 19.1719C12.4135 19.1719 12.75 19.5084 12.75 19.9219C12.75 20.3353 12.4135 20.6719 12 20.6719Z" />
                                <path d="M17.8416 18.2344C16.9111 18.2344 16.1541 18.9913 16.1541 19.9219C16.1541 20.8524 16.9111 21.6094 17.8416 21.6094C18.7722 21.6094 19.5291 20.8524 19.5291 19.9219C19.5291 18.9913 18.7722 18.2344 17.8416 18.2344ZM17.8416 20.6719C17.428 20.6719 17.0916 20.3353 17.0916 19.9219C17.0916 19.5084 17.428 19.1719 17.8416 19.1719C18.2551 19.1719 18.5916 19.5084 18.5916 19.9219C18.5916 20.3353 18.2551 20.6719 17.8416 20.6719Z" />
                                <path d="M12.3314 16.3158C12.4186 16.2286 12.4688 16.1076 12.4688 15.9844C12.4688 15.8611 12.4186 15.7401 12.3314 15.653C12.2443 15.5658 12.1232 15.5156 12 15.5156C11.8762 15.5156 11.7557 15.5658 11.6686 15.653C11.5814 15.7401 11.5312 15.8611 11.5312 15.9844C11.5312 16.1076 11.5814 16.2286 11.6686 16.3158C11.7557 16.403 11.8768 16.4531 12 16.4531C12.1232 16.4531 12.2443 16.403 12.3314 16.3158Z" />
                            </g>
                            <defs>
                                <clipPath id="clip0_1_129">
                                    <rect width="24" height="24" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                         <span class="nav_name-dropdown" >Slider</span>
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body"  style="padding:0 !important;">
                    <a class="nav-link colorblack @(currentController == "Slider" && currentAction == "Index" ? "active" : "")" asp-action="Index" asp-controller="Slider">
                    <span class="nav_name" style="margin-left:0px !important;">Slider</span>

                    </a>
                    <a class="nav-link colorblack @(currentController == "SliderHeader" && currentAction == "Index" ? "active" : "")" asp-action="Index" asp-controller="SliderHeader">
                        <span class="nav_name" style="margin-left:0px !important;">Slider Header</span>
                    </a>
      </div>
    </div>
  </div>
                      </div>

                    <div class="accordion accordion-flush" id="accordionFlushExample2">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingFour">
                                <button class="accordion-button collapsed" style="padding: 0.8rem 0.5rem 0.8rem 2rem !important;" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="change_active_fill" fill="#8F9297">
                                        <g clip-path="url(#clip0_1_86)">
                                            <path d="M24.0422 12.0002C24.0422 11.8627 23.9623 11.738 23.8374 11.6807L17.6866 8.85317L23.8374 6.02565C24.1039 5.90315 24.104 5.50929 23.8374 5.3868L12.189 0.032046C12.093 -0.0118994 11.9824 -0.0106176 11.8878 0.0357081L10.8329 0.551334C10.4264 0.750004 10.7324 1.38282 11.1418 1.18305L12.0467 0.740666L14.0329 1.65363L12.0288 2.57502L9.44642 1.39142C9.31733 1.33228 9.20051 1.2801 9.05952 1.34455L0.246994 5.3868C-0.0196077 5.50911 -0.0199739 5.90315 0.246811 6.02565L6.39771 8.85336L5.19214 9.40743C4.78088 9.5964 5.0722 10.2365 5.48584 10.0463L7.22022 9.24905C7.22644 9.2463 7.2323 9.24282 7.23816 9.23971L11.8953 11.3804C11.9879 11.4231 12.0965 11.4231 12.189 11.3804L16.8448 9.24026L22.8489 12.0002L12.0421 16.9679L1.23522 12.0002L3.59948 10.9133C4.01074 10.7243 3.71978 10.084 3.30596 10.2744L0.246628 11.6807C-0.0196077 11.8032 -0.0199739 12.1971 0.246628 12.3196L6.39771 15.1471L0.246628 17.9746C-0.0196077 18.0971 -0.0199739 18.491 0.246628 18.6135L11.8953 23.9682C11.9877 24.0107 12.0965 24.0107 12.189 23.9682L14.2046 23.0415C14.6157 22.8525 14.3249 22.2122 13.9109 22.4026L12.0421 23.2618L1.23522 18.2941L7.23944 15.534L11.8953 17.6743C11.9877 17.7168 12.0965 17.7168 12.189 17.6743L16.8659 15.5243C16.8924 15.549 16.9232 15.57 16.9578 15.586L22.8489 18.2939L16.2078 21.3469C15.7965 21.536 16.0879 22.176 16.5015 21.9857L23.8374 18.6135C24.1039 18.491 24.104 18.0971 23.8374 17.9746L17.6866 15.1471L23.8374 12.3196C23.9623 12.2622 24.0422 12.1375 24.0422 12.0002ZM14.8746 9.37191L12.8839 8.45675L15.0718 7.45095L17.0554 8.36941L14.8746 9.37191ZM7.03107 8.37051L9.02198 7.45534L11.2004 8.45675L9.20948 9.37191L7.03107 8.37051ZM4.06768 7.00838L6.05859 6.09322L8.18024 7.06844L6.18933 7.9836L4.06768 7.00838ZM6.29407 3.38655L8.27143 4.30208L6.05859 5.31941L4.07153 4.4059L6.29407 3.38655ZM9.11005 4.69044L11.224 5.66933L9.02198 6.68154L6.90033 5.70632L9.11005 4.69044ZM20.0164 4.40425L18.0213 5.32143L15.8396 4.32149L17.838 3.40284L20.0164 4.40425ZM17.1786 5.7087L15.0729 6.67659L12.9024 5.67153L14.9969 4.70875L17.1786 5.7087ZM17.8951 7.98342L15.9117 7.06496L18.0216 6.09505L20.0153 7.00875L17.8951 7.98342ZM12.0637 5.28316L9.94978 4.30446L12.0291 3.34846L14.1539 4.3224L12.0637 5.28316ZM9.86372 7.06844L12.0626 6.05751L14.2332 7.06258L12.0421 8.06985L9.86372 7.06844ZM20.8579 6.62148L18.8641 5.70778L20.8581 4.79115L22.8489 5.70632L20.8579 6.62148ZM14.8746 2.04053L16.9962 3.01594L14.9965 3.93513L12.8718 2.96119L14.8746 2.04053ZM9.11115 3.91609L7.13471 3.00093L9.20197 2.0528L11.1861 2.96229L9.11115 3.91609ZM3.22906 4.79243L5.21686 5.70632L3.22594 6.62148L1.23595 5.70668L3.22906 4.79243ZM12.0421 10.674L10.0512 9.75881L12.0421 8.84365L14.0329 9.75881L12.0421 10.674Z" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_1_86">
                                                <rect width="24" height="24" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                    <span class="nav_name-dropdown">Elegance</span>
                                </button>
                            </h2>
                            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample2">
                                <div class="accordion-body" style="padding:0 !important;">
                                <a class="nav-link colorblack @(currentController == "Architectural" && currentAction == "Index" ? "active" : "")" asp-action="Index" asp-controller="Architectural">
                      
                        <span class="nav_name" style="margin-left:0px !important;"> Elegance</span>
                         </a>
                                <a class="nav-link colorblack @(currentController == "ArchitecturalBlog" && currentAction == "Index" ? "active" : "")" asp-action="Index" asp-controller="ArchitecturalBlog">
                    
                        <span class="nav_name" style="margin-left:0px !important;"> Elegance Blog</span>
                    </a>
                                </div>
                            </div>
                        </div>
                     
                    </div>
             
                    <div class="accordion accordion-flush" id="accordionFlushExample3">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingFive">
                                <button class="accordion-button collapsed" style="padding: 0.8rem 0.5rem 0.8rem 2rem !important;" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="change_active_fill" fill="#8F9297">
                                        <path d="M19.5 18H18.75V17.22C18.75 17.1285 18.7137 17.0407 18.649 16.976C18.5843 16.9113 18.4965 16.875 18.405 16.875H14.25C14.1585 16.875 14.0708 16.9113 14.0061 16.976C13.9414 17.0407 13.905 17.1285 13.905 17.22V18H13.155V17.22C13.155 16.9296 13.2704 16.6511 13.4757 16.4457C13.6811 16.2404 13.9596 16.125 14.25 16.125H18.405C18.6954 16.125 18.974 16.2404 19.1793 16.4457C19.3847 16.6511 19.5 16.9296 19.5 17.22V18Z" />
                                        <path d="M15.375 15H14.625V13.875C14.6325 13.5304 14.7099 13.1909 14.8523 12.877C14.9947 12.5631 15.1993 12.2813 15.4537 12.0487L17.205 10.2975C17.4183 10.0988 17.7003 9.99059 17.9918 9.99573C18.2832 10.0009 18.5613 10.1189 18.7674 10.3251C18.9736 10.5312 19.0916 10.8093 19.0968 11.1007C19.1019 11.3922 18.9937 11.6742 18.795 11.8875L17.1375 13.545L16.6088 13.0162L18.2662 11.3587C18.3277 11.287 18.3598 11.1947 18.3561 11.1004C18.3525 11.006 18.3134 10.9164 18.2466 10.8497C18.1798 10.7829 18.0903 10.7438 17.9959 10.7401C17.9015 10.7365 17.8092 10.7686 17.7375 10.83L15.9863 12.5812C15.8027 12.7448 15.654 12.9436 15.5489 13.1659C15.4439 13.3882 15.3848 13.6293 15.375 13.875V15Z" />
                                        <path d="M18 16.5H17.25V16.125C17.25 15.2438 18.0225 14.4488 18.1088 14.3588L19.2338 13.2338C19.5754 12.9027 19.8004 12.4698 19.875 12H20.625C20.625 12.8812 19.8525 13.6762 19.7662 13.7662L18.6412 14.8912C18.2996 15.2223 18.0746 15.6552 18 16.125V16.5Z" />
                                        <path d="M20.625 12H19.875V7.5C19.875 7.40054 19.8355 7.30516 19.7652 7.23483C19.6948 7.16451 19.5995 7.125 19.5 7.125C19.4005 7.125 19.3052 7.16451 19.2348 7.23483C19.1645 7.30516 19.125 7.40054 19.125 7.5V11.25H18.375V7.5C18.375 7.20163 18.4935 6.91548 18.7045 6.7045C18.9155 6.49353 19.2016 6.375 19.5 6.375C19.7984 6.375 20.0845 6.49353 20.2955 6.7045C20.5065 6.91548 20.625 7.20163 20.625 7.5V12Z" />
                                        <path d="M19.5 21H13.17C13.0705 21 12.9751 20.9605 12.9048 20.8902C12.8345 20.8198 12.795 20.7245 12.795 20.625V18C12.795 17.9005 12.8345 17.8052 12.9048 17.7348C12.9751 17.6645 13.0705 17.625 13.17 17.625H19.5C19.5994 17.625 19.6948 17.6645 19.7651 17.7348C19.8355 17.8052 19.875 17.9005 19.875 18V20.625C19.875 20.7245 19.8355 20.8198 19.7651 20.8902C19.6948 20.9605 19.5994 21 19.5 21ZM13.5375 20.25H19.125V18.375H13.545L13.5375 20.25Z" />
                                        <path d="M10.8375 18H10.0875V17.22C10.0875 17.1298 10.0522 17.0432 9.98912 16.9787C9.92603 16.9142 9.84019 16.877 9.75 16.875H5.595C5.5035 16.875 5.41575 16.9113 5.35105 16.976C5.28635 17.0407 5.25 17.1285 5.25 17.22V18H4.5V17.22C4.5 16.9296 4.61537 16.6511 4.82072 16.4457C5.02607 16.2404 5.30459 16.125 5.595 16.125H9.75C10.0404 16.125 10.3189 16.2404 10.5243 16.4457C10.7296 16.6511 10.845 16.9296 10.845 17.22L10.8375 18Z" />
                                        <path d="M9.37499 16.5H8.62499V13.875C8.61572 13.6287 8.55681 13.3868 8.45177 13.1639C8.34674 12.9409 8.19774 12.7415 8.01374 12.5775L6.26249 10.8263C6.22887 10.787 6.1875 10.7551 6.14098 10.7326C6.09445 10.7101 6.04378 10.6974 5.99213 10.6955C5.94049 10.6935 5.88899 10.7022 5.84087 10.721C5.79274 10.7399 5.74904 10.7685 5.71249 10.805C5.67595 10.8416 5.64735 10.8853 5.6285 10.9334C5.60964 10.9815 5.60094 11.033 5.60294 11.0846C5.60493 11.1363 5.61758 11.187 5.64009 11.2335C5.6626 11.28 5.69448 11.3214 5.73374 11.355L7.39124 13.0125L6.86249 13.545L5.20499 11.8875C5.09446 11.7845 5.0058 11.6603 4.94432 11.5223C4.88283 11.3843 4.84976 11.2353 4.8471 11.0843C4.84443 10.9332 4.87222 10.7832 4.9288 10.6431C4.98538 10.503 5.0696 10.3758 5.17643 10.2689C5.28326 10.1621 5.41051 10.0779 5.55059 10.0213C5.69067 9.96473 5.84072 9.93695 5.99177 9.93961C6.14282 9.94228 6.29179 9.97534 6.42979 10.0368C6.56779 10.0983 6.69199 10.187 6.79499 10.2975L8.54624 12.0488C8.80064 12.2813 9.00524 12.5631 9.14768 12.877C9.29013 13.1909 9.36745 13.5304 9.37499 13.875V16.5Z" />
                                        <path d="M6.75 16.5H6V16.125C5.92516 15.6553 5.70018 15.2224 5.35875 14.8912L4.23375 13.7662C4.1475 13.6762 3.375 12.8812 3.375 12H4.125C4.19984 12.4697 4.42482 12.9026 4.76625 13.2338L5.89125 14.3588C5.9775 14.4488 6.75 15.2438 6.75 16.125V16.5Z" />
                                        <path d="M4.125 12H3.375V7.5C3.375 7.20163 3.49353 6.91548 3.7045 6.7045C3.91548 6.49353 4.20163 6.375 4.5 6.375C4.79837 6.375 5.08452 6.49353 5.2955 6.7045C5.50647 6.91548 5.625 7.20163 5.625 7.5V11.25H4.875V7.5C4.875 7.40054 4.83549 7.30516 4.76516 7.23483C4.69484 7.16451 4.59946 7.125 4.5 7.125C4.40054 7.125 4.30516 7.16451 4.23484 7.23483C4.16451 7.30516 4.125 7.40054 4.125 7.5V12Z" />
                                        <path d="M10.83 21H4.5C4.40054 21 4.30516 20.9605 4.23484 20.8902C4.16451 20.8198 4.125 20.7245 4.125 20.625V18C4.125 17.9005 4.16451 17.8052 4.23484 17.7348C4.30516 17.6645 4.40054 17.625 4.5 17.625H10.8375C10.937 17.625 11.0323 17.6645 11.1027 17.7348C11.173 17.8052 11.2125 17.9005 11.2125 18V20.625C11.2125 20.6749 11.2026 20.7243 11.1833 20.7703C11.1639 20.8163 11.1356 20.8579 11.1 20.8929C11.0644 20.9278 11.0222 20.9552 10.9758 20.9736C10.9294 20.992 10.8799 21.001 10.83 21ZM4.875 20.25H10.4625V18.375H4.875V20.25Z" />
                                        <path d="M12 10.5C11.8308 10.5017 11.6629 10.4694 11.5063 10.405C11.3498 10.3406 11.2078 10.2453 11.0888 10.125L8.13002 7.07625L8.11127 7.05375C7.73856 6.7442 7.45494 6.34105 7.28953 5.88567C7.12411 5.43029 7.08287 4.93909 7.17002 4.4625C7.25918 3.94684 7.49853 3.46896 7.85808 3.08873C8.21764 2.70849 8.6814 2.44282 9.19127 2.325C9.57059 2.24225 9.96366 2.24579 10.3414 2.33536C10.7192 2.42494 11.072 2.59825 11.3738 2.8425C11.6232 3.04089 11.8353 3.28217 12 3.555C12.1633 3.2768 12.3755 3.03035 12.6263 2.8275C12.9285 2.5827 13.2819 2.40907 13.6604 2.31949C14.0389 2.2299 14.4326 2.22666 14.8125 2.31C15.3224 2.42782 15.7862 2.69349 16.1457 3.07373C16.5053 3.45396 16.7446 3.93184 16.8338 4.4475C16.9209 4.92409 16.8797 5.41529 16.7143 5.87067C16.5489 6.32605 16.2652 6.7292 15.8925 7.03875L15.8738 7.06125L12.9113 10.125C12.7922 10.2453 12.6502 10.3406 12.4937 10.405C12.3372 10.4694 12.1693 10.5017 12 10.5ZM8.72627 6.59625L11.6288 9.59625C11.6779 9.64568 11.7363 9.68491 11.8007 9.71168C11.8651 9.73845 11.9341 9.75224 12.0038 9.75224C12.0735 9.75224 12.1425 9.73845 12.2068 9.71168C12.2712 9.68491 12.3296 9.64568 12.3788 9.59625L15.285 6.59625C15.3078 6.56002 15.3371 6.52825 15.3713 6.5025C15.6565 6.27955 15.8751 5.98268 16.0033 5.64416C16.1316 5.30565 16.1646 4.93846 16.0988 4.5825C16.037 4.21282 15.8674 3.86964 15.6112 3.59609C15.355 3.32253 15.0236 3.1308 14.6588 3.045C14.388 2.98466 14.1069 2.98708 13.8372 3.05207C13.5674 3.11707 13.3161 3.24292 13.1025 3.42C12.8751 3.60403 12.6917 3.83661 12.5659 4.1007C12.44 4.36479 12.3748 4.65369 12.375 4.94625C12.375 5.0457 12.3355 5.14109 12.2652 5.21141C12.1949 5.28174 12.0995 5.32125 12 5.32125C11.9006 5.32125 11.8052 5.28174 11.7349 5.21141C11.6645 5.14109 11.625 5.0457 11.625 4.94625C11.6268 4.65273 11.5628 4.36255 11.4375 4.0971C11.3122 3.83165 11.129 3.5977 10.9013 3.4125C10.6875 3.23567 10.4362 3.10997 10.1665 3.04499C9.89683 2.98 9.61586 2.97744 9.34502 3.0375C8.98018 3.1233 8.64883 3.31503 8.39263 3.58859C8.13642 3.86214 7.96678 4.20532 7.90502 4.575C7.83762 4.93084 7.8691 5.29835 7.99605 5.63754C8.123 5.97673 8.34055 6.27461 8.62502 6.49875C8.66462 6.52458 8.69897 6.55766 8.72627 6.59625Z" />
                                    </svg>
                                    <span class="nav_name-dropdown">Comfort</span>
                                </button>
                            </h2>
                            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample3">
                                <div class="accordion-body" style="padding:0 !important;">
                                <a class="nav-link colorblack @(currentController == "Comfort" && currentAction == "Index" ? "active" : "")" asp-action="Index" asp-controller="Comfort">

                                        <span class="nav_name" style="margin-left:0px !important;"> Comfort</span>
                               </a>
                                <a class="nav-link colorblack @(currentController == "ComfortBlog" && currentAction == "Index" ? "active" : "")" asp-action="Index" asp-controller="ComfortBlog">

                                        <span class="nav_name" style="margin-left:0px !important;">Comfort Blog</span>
                               </a>
                                  </div>
                            </div>
                        </div>
                 
                    </div>

                    <a class="nav-link colorblack @(currentController == "Infrastructure" && currentAction == "Index" ? "active" : "")" asp-action="Index" asp-controller="Infrastructure">

                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="change_active_fill" fill="none">
                            <g clip-path="url(#clip0_1_34)">
                                <mask id="mask0_1_34" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
                                    <path d="M0 1.90735e-06H24V24H0V1.90735e-06Z" fill="white" />
                                </mask>
                                <g mask="url(#mask0_1_34)">
                                    <path d="M13.0865 20.6539C13.0865 22.3077 14.4272 23.6485 16.081 23.6485C17.7348 23.6485 19.0755 22.3077 19.0755 20.6539V17.6594H16.081C14.4272 17.6594 13.0865 19.0001 13.0865 20.6539Z" stroke="#8F9297" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M19.0755 17.6594V9.71186H16.9412V17.6594" stroke="#8F9297" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M16.081 19.5594C15.4765 19.5594 14.9864 20.0495 14.9864 20.654C14.9864 21.2585 15.4765 21.7485 16.081 21.7485C16.6855 21.7485 17.1755 21.2585 17.1755 20.654C17.1755 20.0495 16.6855 19.5594 16.081 19.5594Z" stroke="#8F9297" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M19.0305 11.7372H16.9412" stroke="#8F9297" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M16.9412 14.7734H17.7831" stroke="#8F9297" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M17.7831 13.2949H16.9412" stroke="#8F9297" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M17.7831 16.2519H16.9412" stroke="#8F9297" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M18.0818 9.70313V8.08941C18.0818 7.8885 18.2447 7.72556 18.4456 7.72556H23.2846C23.4855 7.72556 23.6484 7.8885 23.6484 8.08941V21.0028C23.6484 21.0674 23.6312 21.1309 23.5985 21.1867L22.2621 23.4685C22.1968 23.58 22.0773 23.6484 21.9481 23.6484H19.782C19.6529 23.6484 19.5334 23.58 19.4681 23.4685L18.7326 22.1311" stroke="#8F9297" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M18.1491 9.70312H23.6484" stroke="#8F9297" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M19.1939 11.7285H23.6484" stroke="#8F9297" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M19.1939 13.7538H23.6484" stroke="#8F9297" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M19.1102 15.7792H23.6484" stroke="#8F9297" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M21.5893 21.5528C21.5893 21.9527 21.2651 22.2769 20.8652 22.2769C20.4652 22.2769 20.141 21.9527 20.141 21.5528C20.141 21.1528 20.4652 20.8286 20.8652 20.8286C21.2651 20.8286 21.5893 21.1528 21.5893 21.5528Z" stroke="#8F9297" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M8.68915 14.7844H16.9412" stroke="#8F9297" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M1.6275 21.2205H0.351562V0.351568H21.2205V7.65155" stroke="#8F9297" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M13.0567 21.2205H3.82062" stroke="#8F9297" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M8.68451 11.2548V0.351543" stroke="#8F9297" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M8.68451 15.7989V13.7746" stroke="#8F9297" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M8.68451 21.1875V18.1966" stroke="#8F9297" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M21.2205 5.80341H10.786" stroke="#8F9297" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                </g>
                            </g>
                            <defs>
                                <clipPath id="clip0_1_34">
                                    <rect width="24" height="24" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                        <span class="nav_name">Infrastructure</span>
                    </a>
                    <a class="nav-link colorblack @(currentController == "Setting" && currentAction == "Index" ? "active" : "")" asp-action="Index" asp-controller="Setting">


                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="change_active_fill" fill="none">
                            <g clip-path="url(#clip0_1_156)">
                                <mask id="mask0_1_156" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
                                    <path d="M0 1.90735e-06H24V24H0V1.90735e-06Z" fill="white" />
                                </mask>
                                <g mask="url(#mask0_1_156)">
                                    <path d="M12 8.31251C9.96348 8.31251 8.3125 9.96345 8.3125 12C8.3125 14.0366 9.96348 15.6875 12 15.6875C14.0365 15.6875 15.6875 14.0366 15.6875 12C15.6875 9.96345 14.0365 8.31251 12 8.31251ZM22.3501 9.3686L21.3517 10.1905C20.2128 11.1281 20.2128 12.8719 21.3517 13.8095L22.3501 14.6314C22.7039 14.9227 22.7953 15.4271 22.5662 15.8239L20.5947 19.2386C20.3656 19.6354 19.8831 19.8085 19.4539 19.6477L18.2429 19.1941C16.8616 18.6766 15.3513 19.5485 15.1088 21.0035L14.8962 22.2791C14.8209 22.7312 14.4297 23.0625 13.9715 23.0625H10.0285C9.57029 23.0625 9.17917 22.7312 9.10384 22.2791L8.89122 21.0035C8.64873 19.5485 7.13847 18.6766 5.75711 19.1941L4.54614 19.6477C4.11695 19.8085 3.63447 19.6354 3.40529 19.2386L1.43387 15.8239C1.20475 15.4271 1.29611 14.9227 1.64992 14.6314L2.64836 13.8095C3.78719 12.8719 3.78719 11.1281 2.64836 10.1905L1.64992 9.3686C1.29611 9.07732 1.20475 8.57295 1.43387 8.17606L3.40529 4.76145C3.63447 4.36456 4.11695 4.19149 4.54614 4.35228L5.75711 4.80593C7.13847 5.32343 8.64873 4.45151 8.89122 2.99646L9.10384 1.72085C9.17917 1.26884 9.57029 0.937525 10.0285 0.937525H13.9715C14.4297 0.937525 14.8209 1.26884 14.8962 1.72085L15.1088 2.99646C15.3513 4.45151 16.8616 5.32343 18.2429 4.80593L19.4539 4.35228C19.8831 4.19149 20.3656 4.36456 20.5947 4.76145L22.5662 8.17606C22.7953 8.57295 22.7039 9.07732 22.3501 9.3686Z" stroke="#8F9297" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                </g>
                            </g>
                            <defs>
                                <clipPath id="clip0_1_156">
                                    <rect width="24" height="24" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                        <span class="nav_name">Setting</span>
                    </a>
                    <a class="nav-link colorblack @(currentController == "Feature" && currentAction == "Index" ? "active" : "")" asp-action="Index" asp-controller="Feature">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="change_active_fill" fill="#8F9297">
                            <g clip-path="url(#clip0_1_142)">
                                <path d="M23.9355 9.1905C23.7506 8.62143 23.1982 8.2302 22.4201 8.11714L16.2489 7.22036L13.4891 1.62841C13.141 0.923211 12.5983 0.518814 12 0.518814C11.4016 0.518814 10.8589 0.923258 10.5109 1.62841L7.75118 7.22031L1.57999 8.11714C0.80176 8.2302 0.249423 8.62138 0.0644984 9.19045C-0.12038 9.75952 0.0965145 10.4007 0.659586 10.9495L5.12506 15.3022L4.07087 21.4486C3.93226 22.2571 4.16772 22.7405 4.38963 23.0037C4.64923 23.3116 5.02794 23.4812 5.456 23.4812C5.77968 23.4812 6.12431 23.3863 6.48024 23.1991L12 20.2972L17.5197 23.199C17.8757 23.3862 18.2203 23.4812 18.5441 23.4812C18.9722 23.4812 19.351 23.3116 19.6106 23.0037C19.8325 22.7405 20.0679 22.257 19.9293 21.4485L18.8749 15.3022L23.3404 10.9496C23.9034 10.4007 24.1204 9.75957 23.9355 9.1905ZM22.3588 9.94252L17.6286 14.5533C17.4628 14.7148 17.3872 14.9475 17.4263 15.1756L18.5432 21.6862C18.5791 21.8959 18.5609 22.0216 18.5439 22.0749C18.5015 22.0748 18.3809 22.063 18.1742 21.9543L12.3272 18.8804C12.2248 18.8266 12.1124 18.7996 12 18.7996C11.8877 18.7996 11.7753 18.8266 11.6729 18.8804L5.82585 21.9543C5.61941 22.0629 5.4988 22.0748 5.45633 22.0749C5.43932 22.0216 5.42108 21.8959 5.45704 21.6862L6.57371 15.1756C6.6128 14.9475 6.53719 14.7148 6.37149 14.5532L1.64126 9.94243C1.48872 9.79374 1.42961 9.68124 1.41218 9.62827C1.45741 9.59569 1.57137 9.53939 1.78226 9.50874L8.31936 8.55875C8.5484 8.52547 8.74635 8.38161 8.84878 8.17409L11.7721 2.25064C11.8664 2.05967 11.9551 1.96868 12.0001 1.93568C12.0451 1.96868 12.1339 2.05967 12.2281 2.25068L15.1515 8.17409C15.254 8.38161 15.4519 8.52547 15.6809 8.55875L22.2179 9.50874C22.4288 9.53935 22.5427 9.59564 22.588 9.62827C22.5704 9.68129 22.5113 9.79383 22.3588 9.94252Z" />
                            </g>
                            <defs>
                                <clipPath id="clip0_1_142">
                                    <rect width="24" height="24" />
                                </clipPath>
                            </defs>
                        </svg>
                        <span class="nav_name">Feature</span>
                    </a>
                    <a class="nav-link colorblack @(currentController == "Apartment" && currentAction == "Index" ? "active" : "")" asp-action="Index" asp-controller="Apartment">
                     <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="change_active_fill" fill="#8F9297">
                            <g clip-path="url(#clip0_1_142)">
                                <path d="M23.9355 9.1905C23.7506 8.62143 23.1982 8.2302 22.4201 8.11714L16.2489 7.22036L13.4891 1.62841C13.141 0.923211 12.5983 0.518814 12 0.518814C11.4016 0.518814 10.8589 0.923258 10.5109 1.62841L7.75118 7.22031L1.57999 8.11714C0.80176 8.2302 0.249423 8.62138 0.0644984 9.19045C-0.12038 9.75952 0.0965145 10.4007 0.659586 10.9495L5.12506 15.3022L4.07087 21.4486C3.93226 22.2571 4.16772 22.7405 4.38963 23.0037C4.64923 23.3116 5.02794 23.4812 5.456 23.4812C5.77968 23.4812 6.12431 23.3863 6.48024 23.1991L12 20.2972L17.5197 23.199C17.8757 23.3862 18.2203 23.4812 18.5441 23.4812C18.9722 23.4812 19.351 23.3116 19.6106 23.0037C19.8325 22.7405 20.0679 22.257 19.9293 21.4485L18.8749 15.3022L23.3404 10.9496C23.9034 10.4007 24.1204 9.75957 23.9355 9.1905ZM22.3588 9.94252L17.6286 14.5533C17.4628 14.7148 17.3872 14.9475 17.4263 15.1756L18.5432 21.6862C18.5791 21.8959 18.5609 22.0216 18.5439 22.0749C18.5015 22.0748 18.3809 22.063 18.1742 21.9543L12.3272 18.8804C12.2248 18.8266 12.1124 18.7996 12 18.7996C11.8877 18.7996 11.7753 18.8266 11.6729 18.8804L5.82585 21.9543C5.61941 22.0629 5.4988 22.0748 5.45633 22.0749C5.43932 22.0216 5.42108 21.8959 5.45704 21.6862L6.57371 15.1756C6.6128 14.9475 6.53719 14.7148 6.37149 14.5532L1.64126 9.94243C1.48872 9.79374 1.42961 9.68124 1.41218 9.62827C1.45741 9.59569 1.57137 9.53939 1.78226 9.50874L8.31936 8.55875C8.5484 8.52547 8.74635 8.38161 8.84878 8.17409L11.7721 2.25064C11.8664 2.05967 11.9551 1.96868 12.0001 1.93568C12.0451 1.96868 12.1339 2.05967 12.2281 2.25068L15.1515 8.17409C15.254 8.38161 15.4519 8.52547 15.6809 8.55875L22.2179 9.50874C22.4288 9.53935 22.5427 9.59564 22.588 9.62827C22.5704 9.68129 22.5113 9.79383 22.3588 9.94252Z" />
                            </g>
                            <defs>
                                <clipPath id="clip0_1_142">
                                    <rect width="24" height="24" />
                                </clipPath>
                            </defs>
                        </svg>
                        <span class="nav_name">Apartment</span>
                    </a>
                    <a class="nav-link colorblack @(currentController == "Contact" && currentAction == "Index" ? "active" : "")" asp-action="Index" asp-controller="Contact">
                     <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="change_active_fill" fill="#8F9297">
                            <g clip-path="url(#clip0_1_142)">
                                <path d="M23.9355 9.1905C23.7506 8.62143 23.1982 8.2302 22.4201 8.11714L16.2489 7.22036L13.4891 1.62841C13.141 0.923211 12.5983 0.518814 12 0.518814C11.4016 0.518814 10.8589 0.923258 10.5109 1.62841L7.75118 7.22031L1.57999 8.11714C0.80176 8.2302 0.249423 8.62138 0.0644984 9.19045C-0.12038 9.75952 0.0965145 10.4007 0.659586 10.9495L5.12506 15.3022L4.07087 21.4486C3.93226 22.2571 4.16772 22.7405 4.38963 23.0037C4.64923 23.3116 5.02794 23.4812 5.456 23.4812C5.77968 23.4812 6.12431 23.3863 6.48024 23.1991L12 20.2972L17.5197 23.199C17.8757 23.3862 18.2203 23.4812 18.5441 23.4812C18.9722 23.4812 19.351 23.3116 19.6106 23.0037C19.8325 22.7405 20.0679 22.257 19.9293 21.4485L18.8749 15.3022L23.3404 10.9496C23.9034 10.4007 24.1204 9.75957 23.9355 9.1905ZM22.3588 9.94252L17.6286 14.5533C17.4628 14.7148 17.3872 14.9475 17.4263 15.1756L18.5432 21.6862C18.5791 21.8959 18.5609 22.0216 18.5439 22.0749C18.5015 22.0748 18.3809 22.063 18.1742 21.9543L12.3272 18.8804C12.2248 18.8266 12.1124 18.7996 12 18.7996C11.8877 18.7996 11.7753 18.8266 11.6729 18.8804L5.82585 21.9543C5.61941 22.0629 5.4988 22.0748 5.45633 22.0749C5.43932 22.0216 5.42108 21.8959 5.45704 21.6862L6.57371 15.1756C6.6128 14.9475 6.53719 14.7148 6.37149 14.5532L1.64126 9.94243C1.48872 9.79374 1.42961 9.68124 1.41218 9.62827C1.45741 9.59569 1.57137 9.53939 1.78226 9.50874L8.31936 8.55875C8.5484 8.52547 8.74635 8.38161 8.84878 8.17409L11.7721 2.25064C11.8664 2.05967 11.9551 1.96868 12.0001 1.93568C12.0451 1.96868 12.1339 2.05967 12.2281 2.25068L15.1515 8.17409C15.254 8.38161 15.4519 8.52547 15.6809 8.55875L22.2179 9.50874C22.4288 9.53935 22.5427 9.59564 22.588 9.62827C22.5704 9.68129 22.5113 9.79383 22.3588 9.94252Z" />
                            </g>
                            <defs>
                                <clipPath id="clip0_1_142">
                                    <rect width="24" height="24" />
                                </clipPath>
                            </defs>
                        </svg>
                        <span class="nav_name">Contact</span>
                    </a>

                </div>
            </div>
           @* <a href="#" class="nav_link colorblack">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <g clip-path="url(#clip0_1_10)">
                        <path d="M11.9602 21.9668H2.99002C2.43984 21.9668 1.99336 21.5203 1.99336 20.9702V3.02992C1.99336 2.47975 2.43989 2.03326 2.99002 2.03326H11.9602C12.5113 2.03326 12.9568 1.58776 12.9568 1.03661C12.9568 0.48545 12.5113 0.039856 11.9602 0.039856H2.99002C1.34152 0.039856 0 1.38142 0 3.02992V20.9701C0 22.6186 1.34152 23.9601 2.99002 23.9601H11.9602C12.5113 23.9601 12.9568 23.5146 12.9568 22.9635C12.9568 22.4123 12.5113 21.9668 11.9602 21.9668Z" fill="#FF7070" />
                        <path d="M23.703 11.2904L17.6432 5.31028C17.2525 4.92356 16.6206 4.92858 16.2339 5.32027C15.8472 5.71196 15.8512 6.34285 16.2439 6.72956L20.5744 11.0033H8.97011C8.41895 11.0033 7.97345 11.4488 7.97345 12C7.97345 12.5511 8.41895 12.9967 8.97011 12.9967H20.5744L16.2439 17.2704C15.8512 17.6571 15.8482 18.288 16.2339 18.6797C16.4292 18.877 16.6864 18.9767 16.9435 18.9767C17.1967 18.9767 17.4498 18.881 17.6432 18.6896L23.703 12.7095C23.8924 12.5222 24 12.267 24 11.9999C24 11.7329 23.8934 11.4788 23.703 11.2904Z" fill="#FF7070" />
                    </g>
                    <defs>
                        <clipPath id="clip0_1_10">
                            <rect width="24" height="24" fill="white" />
                        </clipPath>
                    </defs>
                </svg>
                <span class="nav_name">SignOut</span>
            </a>*@
        </nav>
    </div>
    <!--Container Main start-->
    <!--Container Main end-->
    @RenderBody()
    <script src="~/admin/js/script.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/admin/js/admin.js"></script>
    <script src="~/admin/js/footer.js"></script>
    <script src="~/admin/js/slider.js"></script>
    <script src="~/admin/js/banner.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>