@model List<BoulevardResidence.Domain.Entity.Apartments.Apartment>
@{
    ViewData["Title"] = "Index";
}

<section class="pandora-container">
    <div class="container">
        <div class="row">
            <div class="pandora-banner-div">
                <h3 class="pandora-banner-title">Apartment</h3>
               @* <button class="addnewb"><a asp-action="Create" asp-controller="Apartment">Add new</a></button>*@
            </div>
            <div style="margin-top:3rem;">
                <div class="container-p">
                    <div class="row">
                        <div class="col-12">
                            @if (Model.Count() > 0)
                            {
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                             <th scope="col">Building</th>
                                             <th scope="col">Apartment Number</th>
                                             <th scope="col">Floor</th>
                                             <th scope="col">Apartment Plan</th>
                                             <th scope="col">Features</th>
                                            <th class="text-center" scope="col">Actions</th>
                                        </tr>
                                    </thead

                                    <tbody>
                                        @foreach (var blog in Model)
                                        {
                                            
                                                <tr data-id="@blog.Id" class="slider-row">
                                                    <td class="text-center">@blog.SectionName</td>
                                                    <td class="text-center">@blog.Number</td>
                                                    <td class="text-center">@blog.Floor</td>
                                                    <td><img style="width:27%" class="table-img" src="~/apartmentplangallery/@blog.ApartmentPlan" /></td>
                                                    @foreach (var item in blog.ApartmentFeatures)
                                                    {
                                                        @foreach (var items in item.Feature.FeatureTranslates.Where(m=>m.LangCode == "az"))
                                                        {
                                                             <td class="text-center">@items.Name</td>
                                                        }
                                                        
                                                    }
                                                     
                                                    <td class="p-buttons text-center">
                                                       @* <a class="btn btn-green-color" asp-action="Detail" asp-route-id="@blog.Id">Detail</a>*@
                                                        <a class="btn btn-orange-color" asp-action="Edit" asp-route-id="@blog.Id">Edit</a>
                                                       @* <a class="delete-blog" data-id="@blog.Id" data-toggle="tooltip" data-original-title="Remove" style="cursor: pointer;">
                                                            <i class="fa-solid fa-trash" style="color: #c81921;" onmouseover="this.style.color='#ff0000';" onmouseout="this.style.color='#c81921';"></i>
                                                        </a>*@
                                                    </td>
                                                </tr>
                                            
                                        }
                                    </tbody>
                                </table>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
